body{margin: 0 auto;
    padding: 10PX;
    background-color: #635633;
    

}

header h1{
    color:#868683; 
}

header{
    background-color: #4c321b;
    margin: 0 auto;
    margin-top: 100px;
    width: 650px;
    height: 700px;
    border: 5px solid #868683;

}



.menu { width: 600px;
    overflow: hidden;
    margin: 100px auto;
    
  }
  
  
  
  .menu a {
    color: #181616;
    font-size: 20px;
    font-weight: bold;
    color: #868683;
   
  }
  
  @import url('https://fonts.googleapis.com/css?family=Abel');

  * {padding: 0; margin: 0;}
  a {text-decoration: none; color: #666;}
  li {list-style: none;}
  body {

    background-size: cover;
    font-family: 'Abel', sans-serif;
    font-size: 14px;
    line-height: 1.6em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  body::before {
    content:'';
    position: fixed; top: 0; left: 0;
    z-index: -1;
    background-color: #635633;
    width: 100%; height: 100%;
  }
  #tab-menu {
    width: 600px; 
    background-color: #868683;
    position: absolute; left: 50%; top: 100px;
    transform: translatex(-50%);
    border-radius: 4px;
  }
  #tab-btn ul {
    overflow: hidden;
  
   margin-left: 10px;
  }
  #tab-btn li {
    float: left; width: 90px; 
   margin-left: 50px;
   text-align: center;
  }
  #tab-btn li a {
    display: block; color: #fff; 
    padding: 15px 20px; 
    font-weight: bold;
   
  }
  #tab-btn li.active a {
    border-bottom: 3px solid #2b210e;
    color: #2b210e;
  }
  
  #tab-cont { display: flex;
    justify-content: center;
    width: 100%; 
    height: 250px;
    background: #fff; padding: 20px; 
    box-sizing: border-box;
    border-radius: 0 0 4px 4px;
    
  }
  #tab-cont li{ font-weight: bold;
    margin-left: 10px;
    text-align: center;
  }
  
  #back{
    font-size: 20px;
    font-weight: bold;
    position: relative;
    top: -40px;
   display: flex;
   justify-content: center;
  }

   